* html #wrapper,
* html #footer {
	width: expression(
	(document.compatMode && document.compatMode == 'CSS1Compat') ?
	(document.documentElement.clientWidth < 1000 ? "1000px" :
	(document.documentElement.clientWidth > 1400 ? "1400px" : "auto")) :
	(document.body.clientWidth > 1000 ? "1000px" :
	(document.body.clientWidth < 1400 ? "1400px" : "auto")));
}
* html table, html table{border-collapse: collapse;}
* html .s-first{ margin-right:4.8%;}
* html #order .s-middle, * html #order .s-short{margin-left:-3px; margin-bottom:0;}
* html #order .s-middle{margin-right:19px;}
* html #feedback .i_block, html #feedback .i_block{margin-top:22px;}
html .t_block{margin:40px 0;}
* html .stl{left:-18px;}
* html .str{right:-10;}
* html .sbl{left:-18px; bottom:82px;}
* html .sbr{right:0; bottom:82px;}
* html .data{margin:0 40% 0 0; padding:0;}
* html .sidebar{}
.stw, .sbw{left:-7px; width:100%;}
.sbw{bottom:-13px;}
.serv-test table td.a-first, .serv-test table td.a-last{padding-right:0;}
.stw .str, .sbw .sbr{right:-7px;}
* html .stw .stl, * html .sbw .sbl{left:0;}
* html .sbw{bottom:-95px;}
* html #server .btn{margin-left:130px;}
* html .popups{display:none;}
* html .t-menu li.mon a sub{top:17px;}
* html .h-menu{margin-left:14%;}
* html .search-block{margin-left:0;}
* html .c-inner{margin-right:2%; margin-top:0;}
/** html .enter-serv{width:25%;}*/
* html .f-inner .s-first{margin-right:2%;}

/* New */
* html .pagination .p-item{margin:0 3px;}
* html .pagination .active{margin:0 1px;}
* html .pagination span.p-back, * html .pagination a.p-back{margin:0 8px 0 0;}
* html .pagination .p-next{margin:0 0 0 8px;}
* html .sorting li{margin:0 6px;}
* html .sorting li{margin:0 6px;}
* html .a-1 .tongue{left:14%;}
* html .pagination .active{background-image:none; background-color:#a2d024;}

html .cl-ie{margin:0 4.5%;}
html .big-table{background-position: center top; overflow:hidden;}
* html .big-table{background:none;}
* html .c-left{margin:0;}
* html .c-right {position:relative; height:400px;}
* html .c-right .cont-form{background:none; overflow:hidden; margin:0; position:absolute; top:0; left:0; width:100%;}
* html .c-right .form{width:65%; padding:0; margin:0 auto;}
* html .a-cut-r, * html .a-cut-b{display:none !important;}
* html .prop{background:#f1c61a; margin:5px 0 20px 0;}
* html .games-list li.active{background:none;}
* html .games-list li.active a{color:#6d9500;}
* html .big-table{overflow:hidden; position:relative; width:100%; margin:0; left:0; padding:0;}
* html .big-table table{width:90%;}
* html .big-table table td{padding:10px !important;}
* html .big-table table td{padding:10px !important;}
.bt-bot{margin:0 auto; position:relative; left:0;}
.jcarousel-item{position:relative;}

.a-text{width:50%;}
.sb-main{padding:585px 0 0 0;}
* html .reg{width:100%; display:block;}
.price span{line-height:18px;}