body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin: 0; padding: 0;}
table {border-collapse: collapse; border-spacing: 0;}
fieldset,img {border: 0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style: normal;	font-weight: normal;}
ol,ul {list-style: none;}
caption,th {text-align: left;}
h1,h2,h3,h4,h5,h6 {font-size: 100%; font-weight: normal;}
q:before,q:after {content: '';}
abbr,acronym {border: 0;}
body {font: 12px Arial, Tahoma, Verdana, sans-serif; line-height: 14px; position:relative; background:#fefeff;}
a {outline:none; color:#02588e; text-decoration:underline;}
a:hover {text-decoration: none;}
img {border: none;}
input {vertical-align: middle;}

/* ClearFix
-----------------------------------------------------------------------------*/
.clearfix:after {content: ""; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix {display: inline-block;}
.clear{clear:both;}

/* General Styles
-----------------------------------------------------------------------------*/
.hidden {display:none;}
.i{font-style:italic;}
.b{font-weight:bold;}
.fl{float:left;}
.fr{float:right;}

html, body{width:100%; height:100%;	overflow:hidden;}
.popups{display:none; position:absolute; width:100%; height:100%; z-index:99;}
#layout{position:relative; width:100%; height:100%;	overflow:auto;}

#wrapper {min-width: 1000px; max-width: 1200px; margin:0 auto;}
#header, #content, #footer{width:91.4%; margin:0 auto; position:relative;}

/* Corners, Buttons, Controls */
.an-tl, .an-tr, .an-bl, .an-br{display:none; width:10px; height:10px; position:absolute; background:url("../img/corners-10.gif") no-repeat 0 0; overflow:hidden;}
.an-tl{background-position:0 0; top:0; left:0;}
.an-tr{background-position:-10px 0; top:0; right:0;}
.an-bl{background-position:0 -10px; bottom:0; left:0;}
.an-br{background-position:-10px -10px; bottom:0; right:0;}

.ar-tl, .ar-tr, .ar-bl, .ar-br{display:block; width:19px; height:19px; position:absolute; background:url("../img/corners-19.gif") no-repeat 0 0; overflow:hidden; z-index:1;}
.ar-tl{background-position:0 0; top:0; left:0;}
.ar-tr{background-position:-19px 0; top:0; right:0;}
.ar-bl{background-position:0 -19px; bottom:0; left:0;}
.ar-br{background-position:-19px -19px; bottom:0; right:0;}

.ag-tl, .ag-tr, .ag-bl, .ag-br{display:block; width:13px; height:13px; position:absolute; background:url("../img/corners-13-g.gif") no-repeat 0 0; overflow:hidden; z-index:1;}
.ag-tl{background-position:0 0; top:-1px; left:-1px;}
.ag-tr{background-position:-13px 0; top:-1px; right:-1px;}
.ag-bl{background-position:0 -13px; bottom:-1px; left:-1px;}
.ag-br{background-position:-13px -13px; bottom:-1px; right:-1px;}

.at-tl, .at-tr, .at-bl, .at-br{display:block; width:14px; height:14px; position:absolute; background:url("../img/corners-14.gif") no-repeat 0 0; overflow:hidden; z-index:1;}
.at-tl{background-position:0 0; top:0; left:0;}
.at-tr{background-position:-14px 0; top:0; right:0;}
.at-bl{background-position:0 -14px; bottom:0; left:0;}
.at-br{background-position:-14px -14px; bottom:0; right:0;}

.av-tl, .av-tr, .av-bl, .av-br{display:none; width:13px; height:13px; position:absolute; background:url("../img/corners-13.gif") no-repeat 0 0; overflow:hidden; z-index:1;}
.av-tl{background-position:0 0; top:-1px; left:-1px;}
.av-tr{background-position:-13px 0; top:-1px; right:-1px;}
.av-bl{background-position:0 -13px; bottom:-1px; left:-1px;}
.av-br{background-position:-13px -13px; bottom:-1px; right:-1px;}

.btn-search{width:75px; height:27px; background:url("../img/btn-search.png") no-repeat 0 0; border:none; vertical-align:middle;}

.i_block{position:relative; z-index:200; width:100%;}
.i_block .block{position:relative; background:url("../img/input_bg.gif") repeat-x 0 0; height:24px;}
.i_block .block sub, .i_block .block sup{display:block; width:11px; height:24px; position:absolute; top:0; background:url("../img/input_sides.png") no-repeat;}
.i_block .block sub{background-position:0 0; left:-11px;}
.i_block .block sup{background-position:-11px 0; right:-11px;}
.i_block .block input{width:97%; border:none; height:20px; background:transparent; color:#3e3e3e; font-size:12px; padding:4px 0 0 0;}

/* Teaxtarea */
.t_block{width:97%; position:relative; left:-1px; margin:20px 0; z-index:200;}
.t_block .block{position:relative; background:url("../img/t_block_bg.gif") repeat-x 0 0;}
.t_block .block sub, .t_block .block sup{position:absolute; top:0; width:15px; height:163px; background:url("../img/t_block_sides.gif") no-repeat;}
.t_block .block sub{background-position:0 0; left:-15px;}
.t_block .block sup{background-position:-15px 0; right:-15px;}
.t_block .block textarea{background:transparent; border:none; width:100%; font-size:14px; line-height:18px; height:145px; color:#868686; padding:18px 0 0 0;}


/* Breadcrumbs */
.B_crumbBox{width:100%; display: inline-block; color:#02588E; text-shadow:0 1px #fff; vertical-align:middle; font-size:11px; margin:22px 0 14px 5px;}
.B_crumbBox:after{content: ""; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.B_crumbBox a, .B_crumbBox a:visited {color:#02588E;}
.B_crumbBox a{background:url("../img/bread-marker.gif") no-repeat right 5px; padding:0 18px 0 0 ; margin:0 5px 0 0;}
.B_currentCrumb{padding:0 10px 0 0;}

/* Pagination */
.pw{position:relative; height:30px; line-height:30px; background:#fefcff; float:left; margin:0 0 13px 4%; z-index:5;}
.pw-l, .pw-r{width:13px; height:30px; position:absolute; top:0; overflow:hidden; background:url("../img/pag-sides.gif") no-repeat 0 0;}
.pw-l{background-position:0 0; left:-13px;}
.pw-r{background-position:-13px; 0; right:-13px;}
.pagination .ditto_page, .pagination .ditto_currentpage{margin:0 4px; float:left;}
.pagination .ditto_currentpage{text-align:center; color:#000;}
.pagination .ditto_currentpage i{border-bottom:none;}
.pagination .ditto_next_link{position:relative; top:9px; display:block; float:left; text-decoration:none; width:5px; height:15px; margin-left:13px; background:url("../img/pag-next.gif") no-repeat right center;}
.pagination .ditto_previous_link{position:relative; top:9px; display:block; float:left; text-decoration:none; width:5px; height:15px; margin-right:13px; background:url("../img/pag-prev.gif") no-repeat left center;}
.pagination span.ditto_next_off{position:relative; top:9px; display:block; float:left; text-decoration:none; width:5px; height:15px; margin-left:13px; background:url("../img/pag-next.gif") no-repeat right center;}
.pagination span.ditto_previous_off{position:relative; top:9px; display:block; float:left; text-decoration:none; width:5px; height:15px; margin-right:13px; background:url("../img/pag-prev.gif") no-repeat left center;}


/* Header
-----------------------------------------------------------------------------*/
#header {margin-top:31px; max-width:1000px;}

/* Additional Navigation Menu */
.add-nav{width:42px; left:-15px; top:0; padding:9px 0 0 0; position:absolute;}
.add-nav a{text-decoration:none; display:block; margin:0 auto;}
.ico-home{width:11px; height:10px; background:url("../img/ico_home.gif") no-repeat 0 0;}
.ico-cont{width:12px; height:8px; background:url("../img/ico_cont.gif") no-repeat 0 0;}
.add-nav li{height:15px; text-align:center; padding:6px 0 0 0; margin:0 0 11px 0; position:relative;}
.add-nav li.active{background:#fbc600;}
.add-nav li.active .ico-home{background-position:0 -10px;}
.add-nav li.active sub{display:block;}

/* Logo */
.logo{margin:0 36px 0 56px; display:block; float:left;}

/* Top Menu & Search Wrapper */
.tm-wrapper{position:relative; background:#fbc600; width:40%; float:left; margin-left:2%;}
.tw{padding:20px 15px 10px 49px; position:relative; z-index:2;}
.top-menu{margin:0 0 15px 0; width:100%;}
.top-menu li{float:left; width:30%; padding-right:3%;}
.top-menu .active{text-decoration:underline;}
.top-menu a{font-size:14px; line-height:18px; text-decoration:none; color:#0b0b0b; text-shadow:0 1px #FED94E;}
.search{margin-left:6.75%; position:relative;}
.search .i_block{width:55%; margin-right:13px; float:left;}

/* Top Phones */
.t-phones{float:right; width:200px; position:relative; color:#28130c; margin-top:13px;}
address{float:right; width:201px; margin:12px 0 0 0;}
address span, address a{display:block;}
address span{color:#28130c; font-size:11px;}
address a{font-size:10px;}
#carousel-next, #carousel-prev{width:4px; height:7px; background:url("../img/arrows-phone.gif") no-repeat 0 0; position:absolute; top:40%; overflow:hidden; cursor:pointer;}
#carousel-next{background-position:-4px 0; right:-8px;}
#carousel-prev{background-position:0 0; left:-8px;}
#pcarousel{}
#pcarousel li{}
#pcarousel p{font-size:27px; line-height:27px;}
#pcarousel span{font-size:18px;}
#pcarousel .small{font-size:10px; line-height:10px;}

/* Carousel-Tabs Wrapper */
.car-tab-wrap{position:relative;}
.car-tab-wrap .jcarousel-container{width:96%; height:215px; margin:0 auto;}
.car-tab-wrap .jcarousel-clip, #carousel{height:215px;}
#carousel2-next, #carousel2-prev{background:url("../img/arrows.jpg") no-repeat 0 0; position:absolute; width:21px; height:26px; overflow:hidden; cursor:pointer; top:71px;}
#carousel2-next{background-position:-21px 0; right:0;}
#carousel2-prev{background-position:0 0; left:0;}
#carousel{}
#carousel li{}
#carousel .desc{z-index:5; position:relative; top:8px;}
#carousel .desc label{position:relative; padding:5px 8px; display:block; width:90%; margin:0 auto; font-size:13px; color:#02588e; text-decoration:underline;}
#carousel .desc span{position:relative; z-index:5;}
#carousel .tab{width:184px; height:166px; margin:0 auto; position:relative; text-align:center; cursor:pointer;}
#carousel .tab img{margin-top:9px;}
#carousel .active{border:1px solid #f8ac00;}
#carousel .active sub{display:block;}
#carousel .active label{background:#fbc600; color:#000; text-decoration:none; font-weight:bold; text-shadow:0 1px #FED94E;}
#carousel .active img{margin-top:8px;}

/* Tabs Content */
.tabs-content{padding:40px 0 0 0;}
.tabs{}
.tabs li{display:none;}
.imgs{text-align:center; position:relative;}
.descr{width:100%;}
.descr .image{position:relative; border:1px solid #5a8d1f; padding:4px 15px; text-align:center; float:left; margin-left:4%; margin-top:2px; margin-right:7.2%;}
.descr .text{padding:13px 0 0 0; float:left; width:42%;}
.descr h2, .descr p{color:#0e0e0e !important; font-size:14px !important; line-height:18px !important; font-weight:bold; margin-bottom:12px !important; margin-left:0 !important;}
.descr p{font-weight:normal;}
.descr a{font-size:13px;}
.descr .scheme{float:left; width:26%; text-align:center;}
.descr .scheme p{font-size:11px !important;}

.lo, .ro{position:absolute; top:0; width:13%; text-align:left;}
.lo .x, .ro .x{width:109px; height:112px; position:absolute; top:80%;}
.lo .x{background:url("../img/lo.png") no-repeat 0 0; right:-110px;}
.ro .x{background:url("../img/ro.png") no-repeat 0 0; left:-120px;}
.lo p, .ro p{color:#000; font-size:12px; line-height:14px; text-decoration:underline;}
.lo{left:0;}
.ro{right:0;}

.t_0 .lo{left:12%;}
.t_0 .ro{top:30px;}
.t_1 .lo{left:12%; top:95px;}
.t_1 .ro{top:100px;}
.t_2 .lo{left:10%; top:55px;}
.t_2 .ro{top:88px;}
.t_3 .lo{left:10%; top:55px;}
.t_3 .ro{top:88px;}
.t_4 .lo{left:11%; top:0;}
.t_4 .ro{top:22px; right:8%;}
.t_5 .lo{left:17%; top:72px; text-align:right;}
.t_5 .ro{top:55px; right:8%;}

/* Middle
-----------------------------------------------------------------------------*/
#content {padding:28px 0 45px;}
#content h1{color:#355b09; font-size:18px; line-height:18px; margin-left:4%; margin-bottom:16px;}
#content h2{color:#355b09; font-size:24px; line-height:24px; margin-left:5%; margin-bottom:36px;}
#content h3{color:#000; font-size:14px; line-height:18px; margin-left:5px;}

.sidebar{width:255px; float:left; margin-left:5%;}
.data{padding:0 0 0 33%;}

/* Left Menu */
.left-menu{width:200px; margin-left:-15px; margin-bottom:120px;}
.left-menu li{position:relative; line-height:25px; margin-bottom:10px; padding:0 0 0 15px;}
.left-menu li.active{background:#fbc600;}
.left-menu li.active sub{display:block;}
.left-menu li.active a{font-size:14px; color:#000; font-weight:bold; text-decoration:none; text-shadow:0 1px #FED94E;}
.left-menu a{font-size:13px; line-height:25px;}
.left-menu a:hover{text-decoration:none;}

/* Green Rounded Block */
.r-block{position:relative; border:1px solid #5a8d1f; margin-left:-33px; font-size:12px; line-height:15px; width:98%;}
.r-block p{padding:16px;}
.r-block img{position:absolute; left:12px; top:-100px;}
.order{margin-top:200px;}
.order p{padding-top:30px !important;}

/* Grey Rounded Block */
.grey{position:relative; padding:24px 15px 40px; background:#e8e8e8;}
.grey img{margin-bottom:22px; margin-left:22px;}
.grey p{line-height:18px; margin:14px 0; padding-left:22px;}

/* Product List */
.prod-list{width:100%;}
.prod-list li{float:left; margin:0 0 5px 0; width:25%; height:170px; text-align:center;}
.prod-list img{margin:0;}
.prod-list a{display:block; text-decoration:none; position:relative; width:141px; height:170px; margin:0 auto;}
.prod-list a span{display:block; width:85%; margin:0 auto; text-decoration:underline;}
.ic{display:block; width:141px; height:111px; position:absolute; left:0; top:0; background:url("../img/img-cover.png") no-repeat 0 0; z-index:2;}

.back{line-height:30px; margin-left:37px;}

/* Contacts */
.contacts{margin-left:42px; margin-top:-36px;}
.contacts h3{margin-top:62px !important; margin-left:13px !important;}
.contacts .B_crumbBox{margin-left:13px !important;}
.contacts .grey{margin-left:-13px; width:66%; padding-left:28px;}
.contacts .grey h4{font-size:14px; color:#355b09; line-height:18px; font-weight:bold;}
.contacts p{padding:0; color:#868686; width:60%;}
.banki{background:url("../img/banki.jpg") no-repeat 0 0; width:425px; height:187px; position:absolute; right:-294px; top:-36px;}
.note{position:absolute; right:-285px; top:52px; width:130px;}
.note p{ color:#000; font-size:14px; line-height:18px; width:100%; padding:0;}

/* Form */
.form{margin:20px 0 0 0;}
.form table{width:48%;}
.form table td{padding:9px 0;}
.form label{color:#868686; font-size:14px; line-height:18px; display:block; text-align:right;}
.form .i_block{left:25px; width:200%;}
.btn-send{width:127px; height:27px; border:none; background:url("../img/btn-send.png") no-repeat 0 0; position:relative; left:-17px;}
.btn-reset{color:#136396; font-size:14px; line-height:18px; text-decoration:underline; cursor:pointer; position:absolute; left:163px; bottom:45px;}

/* Sided */
.sided{position:absolute; right:5px; top:350px; width:23%;}
.sided .r-block{margin-left:0; padding:20px 14px; width:auto; margin-bottom:70px;}
.sided .r-block label{position:absolute; top:-11px; left:20px; background:#fff; padding:3px; color:#28130c !important;}
.sided p{font-size:27px; line-height:27px; width:100%; color:#28130c !important;}
.sided span{font-size:18px;}
.sided .small{font-size:10px; line-height:10px; margin-bottom:16px;}
.sided address{width:200px; line-height:22px; font-size:14px; color:#000; float:left;}
.sided a{font-size:10px; display:block; text-align:right;}

/* About */
.about{}
.about h4{color:#000 !important;}
.about p{color:#000 !important; width:100% !important;}
.about img{float:left; margin:10px 10px 10px 0;}
.sided2{margin:45px 0; position:relative;}
.sided2 h5{color:#000; font-size:14px; line-height:18px; margin-bottom:20px; font-weight:bold;}
.sided2 p{color:#000; font-size:12px; line-height:18px; float:left;}
.sided2 .r-block{float:right; width:23%; margin:-63px 4% 0 0; padding:25px;}
.sided2 .r-block p, .sided2 .r-block h5{width:100%; position:relative; z-index:6;}
.strela{background:url("../img/strela.png") no-repeat 0 0; position:absolute; width:216px; height:418px; top:105px; right:0;}

/* Footer
-----------------------------------------------------------------------------*/
#footer {border-top:1px solid #fbc800; padding:30px 0 40px;}
.cooper{width:120px; margin-left:3%; float:left;}
.cooper a{text-decoration:none;}
.cooper span{color:#313030; font-size:11px; display:block; padding-left:2px; margin-bottom:5px;}
.look{color:#313030; font-size:10px; margin:15px 0 0 20px; float:left;}
.copyright{color:#848482; font-size:11px; width:26%; float:right;}
.copyright .r{color:#000; font-size:13px;}
.copyright span{margin-left:-14px;}
.copyright address{width:100%;}